<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Job Post Page in city 312</title>
    <meta name="description" content="Job Post Page in the city 312 , Chicago . Easy and Fast to post your job or get a job !">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="main.js"></script>
    <style>
        
        .messages{
        color: red;
        margin-left: 45px;
    }

    </style>

</head>
<body>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

<div id="bigbox">    
        <div class="container p-3">
            <form class="w-25" action='/register' method="POST">
                {% csrf_token %}
                <h1>Registration</h1>
                <br>
                <label>First Name</label>
                <input class="form-control" type="text" name="fname"/>
                <br><br>
                <label>Last Name</label>
                <input class="form-control" type="text" name="lname"/>
                <br><br>
                <label>Email</label>
                <input class="form-control" type="text" name="email"/>
                <br><br>
                <label>Password</label>
                <input class="form-control" type="password" name="password">
                <br><br><br>
                <label>Confirm Password</label>
                <input class="form-control" type="password" name="confirm_password">
                <br><br>
                <button class="btn btn-success" type="submit">Register</button>
            </form>
        </div>

        <div class="container p-3">

                <h1>Login</h1>

                <form class="w-25" action='/login' method="POST">
                    {% csrf_token %}
                    <label>Email</label>
                    <input class="form-control" type="text" name="email"/>
                    <br><br>
                    <label>Password</label>
                    <input class="form-control" type="password" name="password"/>
                    <br><br>
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>

        </div>

</div>        
</body>
</html>